.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Nav
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-nav {

		@media (--viewport-medium) {
			@mixin hidden;
		}
	}

	.tribe-events-pro-week-nav--mobile {
		padding-top: var(--spacer-4);
	}
}
